<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<dl>
<%- if Article.last_checked_at -%>
<dt>Last checked: </dt>
<dd><%= time_tag Article.last_checked_at %></dd>
<%- end -%>
<%- if Article.last_updated_at -%>
<dt>Last updated:</dt>
<dd><%= time_tag Article.last_updated_at %></dd>
<%- end -%>
</dl>
<div id="articles" data-turbo-permanent>
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>
